* {
    margin: 0%;
}

.game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bloc-jeu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    background-color: rgb(173, 169, 236);
    border-radius: 2em;
}

.btn.hidden {
    visibility: hidden;
}

.btn.visible {
    visibility: visible;
}